table { 
    width: 300px;
    border: 1px solid black;
}
tr {
    height: 2.5em;
}
#game { width: 50% }
#citation { float: right; margin-left: 18em; }
#controls { float: right; margin-left: 18em; } 
#debug { float: left; width: 15em }