table { 
    width: 400px;
    border: 1px solid black;
    position: absolute;
    top: 4em;
}
tr {
    height: 2.5em;
}
td { 
    padding: .5em;

}
#game { width: 50% }
#item { position: absolute; left: 450px; width: 450px;
         font-weight: bold; font-size: 105%; padding: .5em; 
          }
#score { position: absolute; left: 450px; top: 11em; 
         font-weight: bold; font-size: 105%; 
       }
#controls { position: absolute; left: 450px; top: 14em;} 
#long-stats { position: absolute; left: 450px; top: 15em; }
#debug { position: absolute; left: 1000px; display:none }

.overlay {
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.75;
}
.correct, .score-correct {
    color: darkgreen;
    background-color: lightgreen;
}
.incorrect, .score-incorrect {
    color: red;
    background-color: pink;
}

button { 
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

button.inactive {
    background-color: lightgrey;
    color: darkgrey;
}